.healhcheck--finding-check {
  /*background: url(../images/check.svg) center left no-repeat #ccc;*/
  border: 1px solid #dddddd;
  /*background-color: #ccc;*/
  padding: 0.3rem 0.5rem;
  /*color: #fff;*/
  /*border-radius: 0.2rem;*/
}
.healthcheck-filter-list label {
  line-height: 2.5rem;
}
.healthcheck-filter-list ul {
  list-style: none;
  margin: 0;
  padding: 0.7rem 0;
}

.healthcheck--finding-tag-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.healthcheck-filter-list li {
  display: inline-block;
  line-height: 2.5rem;
}

.healthcheck--finding-tag-list li {
  display: inline;
  margin-right: 0.2rem;
}

.healthcheck--finding-tag-list li a,
.healthcheck-filter {
  /*background: url(../images/tag.svg) center left no-repeat #ccc;*/
  padding: 0.3rem 0.5rem;
  border: 1px solid #dddddd;
  border-bottom: 3px solid #ddd;
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}

.healthcheck--finding--data details {
  border: none;
}

.healthcheck--finding-tag-list li a:hover,
.healthcheck-filter:hover,
.healthcheck-filter.filter-link-active,
.healthcheck-filter.filter-link-active[data-filter-tag="clear"]:hover {
  background-color: #35cbea;
  border-bottom-color: #186385;
  text-decoration: none;
}
.healthcheck-filter.filter-link-active[data-filter-tag="clear"] {
  background-color: transparent;
  border-bottom-color: #ddd;
}

.expand-collapse-all {
  border: 0;
  margin-left: 2rem;
  color: #0074bd;
  cursor: pointer;
}

.healhcheck--finding-tag {
  padding: 0.3rem 0.5rem;
  border: 1px solid #dddddd;
  background-color: #cccccc;
  color: #fff;
  margin-right: 10px;
  text-transform: capitalize;
}

.findings-list {
  list-style-type: none;
  padding-left: 55px;
  padding-bottom: 10px;
  margin: 0; }

.finding {
  margin: 0 20px 20px 57px;
  border: 1px solid #eee;
  padding: 10px 5px 15px 25px;
  background-color: #fff;
  position: relative;
  border-left: 0;
}
.finding::before {
  display: block;
  content: '';
  border-left: 10px solid;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-color: inherit;
}

/* Finding statuses */
.finding.status-20 {
  border-left-color: #f6425e; }
.finding.status-15 {
  border-left-color: #ff9d31; }
.finding.status-10 {
  border-left-color: #35cbea; }
.finding.status-5 {
  border-left-color: #00c970; }
.finding.status-0 {
  border-left-color: #dddddd; }

.accordion-icon {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/accordion-arrow.svg);
  -webkit-background-size: 15px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center 1px;
  float: left;
  margin-right: 10px; }

.report-category {
  background-color: #f7f7f7;
  border: 0;
  margin: 0 0 15px 0; }
  .report-category h2 {
    font-size: 0.9rem;
    padding: 15px;
    margin: 0;
    cursor: pointer; }
  .report-category.expanded .report-category__summary {
    display: none; }
  .report-category.expanded h2 .accordion-icon {
    transform: rotate(90deg);
    background-position: 7px 5px; }

.report-category__description {
  background-color: #ebebeb;
  border: 1px solid #d8d8d8;
  border-left: 0;
  border-right: 0;
  padding: 5px 15px 5px 55px;
  margin: 0; }

.report-category__summary {
  font-weight: bold;
  padding: 15px 15px 15px 55px;
  border-top: 1px solid #d8d8d8;
  margin: 0; }

.report-category__check {
  margin-right: 15px;
  font-size: 0.75rem; }

.report-category__title {
  padding: 15px 15px 15px 60px;
  margin: 0;
  display: block;
  cursor: pointer; }
  .report-category__title.expanded .accordion-icon {
    transform: rotate(90deg);
    background-position: 7px 5px; }

.report-category__findings {
  display: none;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.circle-icon {
  height: 15px;
  width: 15px;
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: -2px; }
  .circle-icon.status-20 {
    background-color: #f6425e; }
  .circle-icon.status-15 {
    background-color: #ff9d31; }
  .circle-icon.status-10 {
    background-color: #35cbea; }
  .circle-icon.status-5 {
    background-color: #00c970; }
  .circle-icon.status-0 {
    background-color: #dddddd; }

/* Report summary */
table tbody tr:hover {
  background: none; }

table tr > td:last-of-type {
  text-align: right; }

.healthcheck-summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 3rem;
  margin-top: 2rem; }

.results-summary {
  width: 50%;
  margin-left: 5rem;
}
.results-summary__container {
  display: flex;
  align-items: center;
}
.results-critical {
  position: relative;
  width: 30%;
  max-width: 350px;
}
.results-critical__attention {
  padding: 1rem 0;
  background-color: #f15716;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.results-critical__attention span {
  font-size: 4rem;
  line-height: 3.5rem;
}
.results-critical__details {
  padding: 1.75rem 0;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.results-critical__details div {
  flex-basis: 35%;
  text-align: center;
  font-size: 0.8rem;
}
.results-critical__details div span {
  font-size: 1.5rem;
  line-height: 1.3;
}
.results-critical__details--critical {
  /*color: #f6425e;*/
}
.results-critical__details--attention {
  /*color: #ff9d31;*/
}
.results-critical__details--divider {
  width: 1px;
  max-width: 1px;
  flex-basis: 1px;
  border-left: 1px solid #dddddd;
}

.results-summary-table {
  width: 30%;
  max-width: 350px;
  margin-left: 2rem;
}

.circle-graphic {
  position: relative;
  width: 200px;
}

.circle-graphic__circle {
  animation: circle-graphic-fill 2s reverse;
  transform-origin: center; }

@keyframes circle-graphic-fill {
  to {
    stroke-dasharray: 0 100; } }
.graphic-container {
  position: relative;
}

.graphic-total {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%; }
  .graphic-total span {
    font-size: 3rem;
    font-weight: bold; }

@media screen and (max-width: 900px) {
  .results-summary {
    width: 50%;
    margin-left: 2rem;
  }
  .results-critical {
    width: 50%;
  }
  .results-summary-table {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .healthcheck-summary {
    flex-direction: column;
  }
  .results-summary {
    width: 100%;
    margin-left: 0;
  }
  .results-critical {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  .results-summary-table {
    width: 100%;
    margin: 0;
  }
  .graphic-container {
    margin-left: 0;
  }
  .circle-graphic {
    width: 100%;
  }

}

@media screen and (min-width: 700px){
  .healthcheck-filter-list label {
    padding-top: 0.6rem;
    float: left;
  }
  .healthcheck-filter-list ul {
    margin-left: 150px;
    padding: 0.7rem 0;
  }
}

@media print {
  .report-category__findings {
    display: block !important;
  }
}